@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Orbitron:wght@500&family=Play&family=Prompt:ital@1&display=swap');

/* This is to remove the padding of the body element */
body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Variables to store color pallette */
:root
{
    --neon-green : rgb(193, 232, 63);
    --navy-blue : rgb(18, 23, 43);
    --light-blue : rgb(223, 227, 253);
}

/* Headline section of the project */
.headline-section
{
    background-color: var(--navy-blue);
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:700px;
}

/* Intro section of the project */
.intro-section
{
    background-color: var(--neon-green);
    padding:20px;
    padding-bottom: 20px;
}

/* Intro text container*/
.intro
{
    margin-top:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
}

.intro-text
{
    font-size:24px;
}

/* Preset btn for dark theme */
.btn-dark-blue
{
    background-color: var(--navy-blue);
    color: var(--neon-green);
    font-family: 'Gabarito', cursive;
    margin-top:10px;
}
.btn-dark-blue:hover,
 .btn-dark-blue:focus,
 .btn-dark-blue:active
{
    background-color: var(--neon-green);
    color: var(--navy-blue);
    outline: var(--navy-blue);
}

.btn-neon-green
{
    color: var(--navy-blue);
    background-color: var(--neon-green);
    font-family: 'Gabarito', cursive;
}

/* Social media links in the intro section*/
.intro-links
{
    justify-content: center;
    margin-top: 50px;
    width:200px;
}

/* Tool box of the project where encryption module is placed */
.tool-box
{
    background-color: var(--light-blue);
    padding:20px;
    padding-bottom:90px;
}

/* Preset color of text for light */
.text-light
{
    color: var(--light-blue);
    font-family: 'Gabarito', cursive;
}

/* Preset color of text for light */
.text-dark-blue
{
    color: var(--navy-blue);
    font-family: 'Gabarito', cursive;
}

/* Preset color of text for neon*/
.text-neon
{
    color: var(--neon-green);
    font-family: 'Gabarito', cursive;
}

/* Title of headline section*/
.headline-text
{
    font-family: 'prompt', cursive;
    font-weight:1000;
}

/* Preset for aligning text center */
.text-center
{
    text-align: center;
}

/* Preset for all section headings */
.section-title
{
    font-size:40px;
}

/* container for tool box*/
.tool-box-container
{
    max-width:900px;
}

/* tool box text*/
.tool-box-info
{
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    text-decoration:underline;
}

/* Text box of tool box*/
.tool-text-box
{
    width: 100%;
    height:200px;
    resize: none;
}

/* Encrypt and Decrypt button in toolbox*/
.tool-button
{
    width: 100%;
    height: 100%;
    font-size: 18px;
}

/* Footer section of the webpage */
.footer
{
    background-color: var(--navy-blue);
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:250px;
}

@media only screen and (max-width: 780px) {

    /* This is to hide the headline section on mobile screen */
    .headline-section
    {
        width : 0px;
        height : 0px;
        padding : 0px;
    }
    .section-title
    {
        font-size:30px;
    }
    .intro
    {
        margin-bottom: 40px;
    }

}